<<<<<<< HEAD
a{
    text-decoration: none;
=======

.shop_now_btn{
    display: inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    background: var(--branding-success, #00B207);
   color: var(--gray-scale-white, #FFF);
   font-family: Poppins;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 120%;
   cursor: pointer;
   border: none;
}
.popular_tag_green_btn{
    display: inline-flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    background: var(--branding-success, #00B207);
   color: var(--gray-scale-white, #FFF);
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   cursor: pointer;
   border: none;
}
.popular_tag_gray_btn{
    display: inline-flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    border-radius: 30px;
    background: var(--gray-scale-gray-50, #F2F2F2);
    color: var(--gray-scale-gray-900, #1A1A1A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
   cursor: pointer;  
   border: none;
}
.search_btn{
    display: flex;
padding: 14px 24px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 0px 6px 6px 0px;
background: var(--branding-success, #00B207);
}
.add_to_card_btn{
    display: flex;
width: 447px;
padding: 16px 161.5px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 43px;
background: var(--branding-success, #00B207);
>>>>>>> e09e2ea5653656b287774f4e1c76c1061bd9ca8e
}